[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
pysocks = "*"
peewee = "*"
click = "*"
psycopg2-binary = "*"

[dev-packages]
pylint = "*"
pycodestyle = "*"
pydocstyle = "*"
autopep8 = "*"
mypy = "*"

[requires]
python_version = "3.7"
